/*
 * Copyright (c) 2020 Friedt Professional Engineering Services, Inc
 *
 * SPDX-License-Identifier: Apache-2.0
 */
 #include <dt-bindings/greybus/greybus.h>

/ {
	resources {
		compatible = "test,greybus-i2c";
		test-i2c = <&i2c0>; 
	};

	greybus0: greybus0 {
		compatible = "zephyr,greybus";
		label = "GREYBUS_0";
		greybus;
	};
};

&i2c0 {
	status = "okay";
};

&greybus0 {
	status = "okay";
	/* defaults in effect, so this isn't necessary */
	version-major = <GREYBUS_VERSION_MAJOR>;
	version-minor = <GREYBUS_VERSION_MINOR>;

	gbstring0: gbstring0 {
		status = "okay";
		compatible = "zephyr,greybus-string";
		id = <0>;
		greybus-string = "Zephyr Project RTOS";
	};

	gbstring1: gbstring1 {
		status = "okay";
		compatible = "zephyr,greybus-string";
		id = <1>;
		greybus-string = "Greybus Service Sample Application";
	};

	gbinterface0 {
		status = "okay";
		compatible = "zephyr,greybus-interface";
		vendor-string-id = <&gbstring0>;
		product-string-id = <&gbstring1>;
		greybus-interface;
	};

	gbbundle0 {
		status = "okay";
		compatible = "zephyr,greybus-bundle";
		greybus-bundle;
		/* Control Bundle 0
		 * Note: control bundle 0 and control cport 0 are optional
		 * Since instance numbers automatically begin at 0, the id
		 * is a mandatory field for bundles and cports.
		 */
		id = <CONTROL_BUNDLE_ID>;
		bundle-class = <BUNDLE_CLASS_CONTROL>;

		gbcontrol0 {
			status = "okay";
			compatible = "zephyr,greybus-control";
			greybus-controller;
			/* Control CPort 0
			 * Note: control bundle 0 and control cport 0 are optional
			 * Since instance numbers automatically begin at 0, the id
			 * is a mandatory field for bundles and cports.
			 */
			id = <CONTROL_CPORT_ID>;
			cport-protocol = <CPORT_PROTOCOL_CONTROL>; 
		};
	};
	
	gbbundle1 {
		status = "okay";
		compatible = "zephyr,greybus-bundle";
		greybus-bundle;
		id = <1>;
		bundle-class = <BUNDLE_CLASS_BRIDGED_PHY>;		
				
		gbi2c0 {
			status = "okay";
			compatible = "zephyr,greybus-i2c-controller";
			greybus-i2c-controller = <&i2c0>;
			id = <1>;
			cport-protocol = <CPORT_PROTOCOL_I2C>;
		};
	};
};
